<form action='/sessions/<%=session[:user_id]%>' method='post'>
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Log Out">
</form>

<h1><%=current_user.first_name%></h1>
 <p>Here are the list of all the books</p>