
<div class='container_user_show'>

<form action='/books' method='post'>
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<label>Book Title <input type="text" name="book[title]" class="my_text"></label><br><br>
	<label>Author <input type="text" name="book[author]" class="my_text"></label><br><br>
	<label>Category <input type="text" name="book[category]" class="my_text"></label><br><br>
	<label>Description <br><textarea cols="40" rows="10" name="book[description]" class="my_text" >
		
	</textarea> </label><br><br>
	
	<input type="hidden" name="user_id" value="<%=session[:user_id]%>">
	

	<input type="submit" name="book[shelf]" value="Already read" class='my_text'>

	<input type="submit" name="book[shelf]" value="Currently reading" class='my_text'>

	<input type="submit" name="book[shelf]" value="Interested in reading" class='my_text'>



	
</div>

