<form action='/books' method='post'>
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<label>Book Title <input type="text" name="book[title]"></label><br><br>
	<label>Author <input type="text" name="book[author]"></label><br><br>
	<label>Category <input type="text" name="book[category]"></label><br><br>
	<label>Description <br><textarea cols="40" rows="10" name="book[description]" >
		
	</textarea> </label><br><br>
	
	<input type="hidden" name="user_id" value="<%=session[:user_id]%>">
	

	<input type="submit" name="book[shelf]" value="Already read">

	<input type="submit" name="book[shelf]" value="Currently reading">

	<input type="submit" name="book[shelf]" value="Interested in reading">
</form>