/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.nav
{
	background-color: lightgrey;
	height: 50px;
	width:98%;
	padding:20px;

}

.number
{
	text-align: center;
}
.rating
{
	text-align: center;
}
a
{
	color:green;
	text-decoration: none;
	margin:10px;
	/*padding:10px;*/
	/*padding-top:50px;*/
}

#logout{
	text-align: right;
	padding-bottom:55px;
	padding-right:10px;
	padding-top: -20px;
}

table, th, td {
   border: 1px solid transparent;
   margin:10px;
   padding:10px;

}
img{
	margin:5px;
}

.book_title
{
	color:darkgreen;
}

.discussion
{
	display:inline-block;
	vertical-align: top;
	margin:20px;
	margin-left:350px;

	
}

.category
{
	color:red;
}

.discussion_title
{
	color:brown;
}

.review_form
{
	display:inline-block;
	margin:20px;
	margin-right:30px;
	margin-left:140px;

}

.user
{
	text-align: right;
	margin:10px;
}

.books
{
	color:green;
}

a
{

}

th
{
	color:brown;
}

